<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CocheraModeloContainerRemoteTest" connectionString="metadata=res://*/CocheraModelo.csdl|res://*/CocheraModelo.ssdl|res://*/CocheraModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=nadiagarage.no-ip.org\SQLEXPRESS,1433;database=SistemaCocheraBDTest;Integrated Security=False;User Id=cocheraRemoto;Password=nadiagarage440;MultipleActiveResultSets=True;Connection Timeout=90&quot;" providerName="System.Data.EntityClient" />
    <add name="CocheraModeloContainer" connectionString="metadata=res://*/CocheraModelo.csdl|res://*/CocheraModelo.ssdl|res://*/CocheraModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=nadiagarage.no-ip.org\SQLEXPRESS,1433;database=SistemaCocheraBD2016;Integrated Security=False;User Id=cocheraRemoto;Password=nadiagarage440;MultipleActiveResultSets=True;Connection Timeout=90&quot;" providerName="System.Data.EntityClient" />
    <add name="CocheraModeloContainerLocalProd" connectionString="metadata=res://*/CocheraModelo.csdl|res://*/CocheraModelo.ssdl|res://*/CocheraModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=SistemaCocheraBD2016;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="CocheraModeloContainerLocalTest" connectionString="metadata=res://*/CocheraModelo.csdl|res://*/CocheraModelo.ssdl|res://*/CocheraModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=SistemaCocheraBD;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>