body 
{

}

.text
{
	font-size: 1.2em;

}

.black-icon {
    color: #000000;
    opacity: 0.95;
    width: 200;
}

.navbar {
  font-size: 1.04em;
}

.panel-other {
  border-color: #3B0034;
}
.panel-other > .panel-heading {
  color: #ffffff;
  background-color: #76276C;
  border-color: #3B0034;
}
.panel-other > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3B0034;
}
.panel-other > .panel-heading .badge {
  color: #76276C;
  background-color: #ffffff;
}
.panel-other > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #3B0034;
}

.huge {
    font-size: 40px;
}

.progress-bar-other {
  background-color: #76276C;
}
.progress-striped .progress-bar-other {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


.verde {
  background-color: #3c9a5f;
}
.rojo {
  background-color: #ea2f10;
}
.amarillo {
  background-color: #d08002;
}
.bold
{
font-weight: bold;
}

	.br
{
	height:40px;
}

@media (min-width: 1200px) {
  .col-lg-2-5{
    float: left;
  }
  
  .col-lg-2-5 {
    width: 20%;
  }
  
  .col-lg-2-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}


}

@media (max-width: 415px) 
{
.fa-5x {
  font-size: 3em;
}
}



@media (max-width:991px) and (min-width:767px) {
	.br
{
	height:80px;
}
}​


.tableFilters {
  width: 100%;
  max-width: 100%;
  margin-bottom: 21px;
  
}
.tableFilters > thead > tr > th,
.tableFilters > tbody > tr > th,
.tableFilters > tfoot > tr > th,
.tableFilters > thead > tr > td,
.tableFilters > tbody > tr > td,
.tableFilters > tfoot > tr > td {
  padding: 5px;
  line-height: 1.4;
  vertical-align: top;
}


.paper {
  font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 6px 5px 4px 42px;
  position: relative;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.paper::before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

.paper-textarea {
  display: block;
  width: 94%;
  margin: 0 auto;
  padding: 3.8% 0.2%;
  border: none;
  outline: none;
  height: 100%;
  background: transparent;
  line-height: 20px;
}

.paper-head {
   background-color: #FFF;
   min-height: 50px;
   padding-left: 42px;
   padding-top: 20px;
   margin-left: -42px;
   margin-top: -5px;
   margin-right: -4px;
   font-size: 20px;
}

.paper-codigo 
{
  display: inline;
  padding: .2em .6em .3em;
  margin-left:15px;
  font-size: 55%;
  line-height: 1;
  color: #9f9f9f;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #efefef;
}


@media print {
    .noprint {
        display: none;
    }
}